.contact__section {
  display: flex;
  flex-direction: column;
  justify-items: start;

  gap: 1rem;
  margin-bottom: 2rem;

  color: var(--color-neutral-100);
  font: var(--font-Body-B-1);
}

.contact__title {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 2rem;

  font: var(--font-headings-H-1);
}

.home__subtitle {
  display: flex;
  align-items: flex-start;

  font: var(--font-headings-H-3);
  margin-bottom: 1rem;
}

.contact_reason {
  display: flex;
  justify-content: center;

  color: var(--color-neutral-100);
  font: var(--font-Body-B-1);
}

.select_reason {
  display: flex;
  justify-content: center;

  height: 30px;
  width: 400px;
  margin-bottom: 2rem;

  background-color: rgba(128, 128, 128, 0.138);
  color: var(--color-neutral-800);
  font: var(--font-body-B-1);

  @media screen and (max-width: 768px) {
    width: 200px;
    height: 20px; /* Adjust height as needed */

    font: var(--font-Body-B-2);
  }
}

.form__text {
  display: flex;

  width: 600px;
  height: 250px;
  margin-bottom: 2rem;

  background-color: rgba(128, 128, 128, 0.138);
  color: var(--color-neutral-300);
  font: var(--font-body-B-1);

  @media screen and (max-width: 768px) {
    width: 300px;
    height: 150px; /* Adjust height as needed */

    font: var(--font-Body-B-2);
  }
}

.input__fields {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 250px;
  margin-bottom: 2rem;

  color: var(--color-neutral-300);
  font: var(--font-body-B-1);
}

.input__field {
  display: flex;
  justify-content: center;
  align-items: start;

  height: 2rem;
  width: 600px;
  margin-bottom: 2rem;

  background-color: rgba(128, 128, 128, 0.138);
  color: var(--color-neutral-300);
  font: var(--font-body-B-1);

  @media screen and (max-width: 768px) {
    width: 300px;
    height: 20px; /* Adjust height as needed */

    font: var(--font-Body-B-2);
  }
}

.submit__btn__box {
  align-self: flex-end; /* Aligns the button to the right */
  margin-top: auto; /* Pushes the button to the bottom if the parent has a height */
}

.submit__btn {
  display: flex;
  min-width: 120px;
  padding: var(--size-125, 12px) var(--size-25, 20px);
  justify-content: center;
  align-items: center;

  border-radius: var(--components-button-border-radius, 24px);
  border: var(--components-button-border-width, 2px) solid
    var(--color-light-blue-100, #b7def5);
  background: rgba(255, 255, 255, 0);
  font: var(--font-Body-B-1);
  color: var(--color-light-blue-100, #b7def5);

  @media (max-width: 680px) {
    font: var(--font-Body-B-2);
    bottom: 30px; /* Adjust for smaller screens */
    right: 100px;
  }

  &:hover {
    border-radius: var(--components-button-border-radius, 24px);
    border: var(--components-button-border-width, 2px) solid
      var(--color-light-blue-300, #105074); /* Optional: Hover effect */
  }

  &:active {
    border-radius: var(--components-button-border-radius, 24px);
    border: var(--components-button-border-width, 2px) solid
      var(--color-LightBlue-300, #105074);
    background: var(--color-primary-100, #99c6ff);
    color: var(--color-light-blue-600, #105074);
  }

  &:disabled {
    border-radius: var(--components-button-border-radius, 24px);
    border: var(--components-button-border-width, 2px) solid
      var(--color-light-blue-600, #59616e);
    background: rgba(255, 255, 255, 0);
  }
  @media screen and (max-width: 768px) {
    width: 20px;
    height: 15px; /* Adjust height as needed */

    font: var(--font-Body-B-2);
  }
}
