//////////////////////////// HERO section ////////////////////////////
.wip__label {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 120px;
  transform: rotate(-30deg);

  border: 1px solid #fe0;
  background: #fe0;
}

.hero__section {
  display: flex;
  padding: 0px 72px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  padding: 0px 72px;
}

.hero__container {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 44px;
  align-self: stretch;
  flex-wrap: wrap;

  border-radius: 24px;
  background: rgba(216, 160, 230, 0.1);
}

.image__layout {
  flex-shrink: 0;
  flex: 1 0 0;
  height: 100%;
  gap: 24px;
}

.experience__picture {
  display: inline-flex;
  padding-bottom: 0px;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  height: 440px;

  background: url("/images/Margin/about_me.png") lightgray 50% / cover no-repeat;
  border-radius: 0px 400px 0px 0px;
}
