.exp__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 72px;
  gap: 44px;
  align-self: stretch;
}

//////////////////////////// HERO ////////////////////////////
.Margin__Herosection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  align-self: stretch;

  background: linear-gradient(
    99deg,
    rgba(255, 255, 255, 0.01) 43.4%,
    rgba(153, 153, 153, 0.1) 100%
  );
}

.Herosection {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--components-button-gap, 8px);
}
.exp__title {
  align-self: stretch;

  font: var(--font-headings-H-1);
  color: var(--color-neutral-100);
}

.text {
  display: flex;
  width: 596px;
  height: 35.575px;
  flex-direction: column;
  justify-content: center;

  color: var(--color-primary-100, #99c6ff);
  font: var(--font-headings-H-2);
}

.exp__paragraph {
  align-self: stretch;

  color: var(--color-neutral-100, #fff);
  font: var(--font-Body-B-1);
}

.image {
  width: 602px;
  height: 400px;

  background: url("/images/computer__jean.png");
}

.background__image {
  flex-shrink: 0;
}

////////////////////////////////// MARGIN //////////////////////////////////////////

.carrer__title__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrer__path__title {
  display: flex;
  justify-content: center;
  font: var(--font-headings-H-1);
  color: var(--color-neutral-100);
}

/////////////////////////////////// EXPERIENCE DATA ///////////////////////////////////
///
.margin__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin: 10px;
  gap: 32px;
}

.exp__margin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  flex: 1 0 0;
}

.exp__text {
  display: flex;
  align-self: stretch;

  font: var(--font-Body-B-1);
  color: var(--color-neutral-100);
}

.frame__card {
  display: grid;
  grid-template-columns: 1fr;
}

.legend {
  display: flex;

  font: var(--font-Body-B-1);
  color: var(--color-neutral-100);
  padding: 1rem;
}

.project__data {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid var(--color-neutral-300, #bdc8d3);
  padding: 1rem;
  margin-bottom: 1rem;
  margin: 1rem;
  gap: 1rem;
}

.datetime {
  font-style: italic;
  color: var(--color-neutral-200, #dbe1e7);
}

.description__list {
  color: var(--color-neutral-200, #dbe1e7);
  border: solid var(--color-greyish-brown);
  padding: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.item__list {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.project__item {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.item__link {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.project__title {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
