//////////////////////////// HERO section ////////////////////////////

.wip__label {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 120px;
  transform: rotate(-30deg);

  border: 1px solid #fe0;
  background: #fe0;
}

.hero__section {
  display: flex;
  padding: 0px 72px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.hero__container {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 44px;
  align-self: stretch;
  flex-wrap: wrap;

  border-radius: 24px;
  background: rgba(216, 160, 230, 0.1);
}

.image__layout {
  flex-shrink: 0;
  height: 100%;
  gap: 24px;
}

.experience__picture {
  display: inline-flex;
  padding-bottom: 0px;
  justify-content: flex-end;
  align-items: center;
  width: 368px;
  height: 368px;

  background: url("/images/Margin/about_me.png") lightgray 50% / cover no-repeat;
  border-radius: 0px 400px 0px 0px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.content__title {
  align-self: stretch;

  color: #fff;
  font-family: Lato;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  color: var(--color-neutral-100, #fff);
}

.content__subtitle {
  display: flex;
  width: 596px;
  height: 35.575px;
  flex-direction: column;
  justify-content: center;

  color: var(--color-primary-100, #99c6ff);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 57px; /* 178.125% */
}

.content__text {
  align-self: stretch;

  color: var(--color-neutral-100, #fff);
  font: var(--font-Body-B-2);
}

.margin__title__container {
  display: flex;
  padding: 0px 72px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.margin__title {
  flex: 1 0 0;

  font-family: var(--font-headings-H-3);
  color: var(--color-neutral-100);
}

.container__section {
  display: flex;
  padding: 0px 72px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.container__article {
  display: flex;
  align-items: flex-start;
  align-items: center;
  align-content: center;
  gap: 44px;
  align-self: stretch;
}

.line {
  width: 8px;
  align-self: stretch;

  stroke: var(--color-neutral-100, #fff);
}

.time-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 24px;

  color: var(--color-neutral-100);
  font: var(--font-Body-B-2);
}

.logo {
  width: 110px;
  height: 40px;
  flex-shrink: 0;

  background-color: var(--color-neutral-100);
  background-repeat: no-repeat;
}

.divider {
  width: 2px;
  flex-shrink: 0;
  align-self: stretch;

  stroke-width: 2px;
  stroke: var(--Degrade, #a533c1);
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 8px;
  flex: 1 0 0;

  color: var(--color-neutral-100);
}

.date {
  color: var(--color-neutral-100, #fff);
  font: var(--font-Body-B-2);
}

.location {
  align-self: stretch;

  color: var(--color-neutral-100, #fff);
  font: var(--font-Body-B-2);
}

//////// description ////////////

.left__experience {
  display: flex;
  padding: 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 12px;
  background: var(--color-pink-Alpha-10, rgba(216, 160, 230, 0.1));
}

.Down__content {
  display: flex;
  padding-bottom: 72px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  color: var(--color-neutral-100);
}

.company__card {
  align-self: stretch;

  color: var(--color-neutral-100, #fff);
  font: var(--font-headings-H-4);
}

.description__list {
  align-self: stretch;

  color: var(--color-neutral-100, #fff);
  font: var(--font-Body-B-2);
}

.chips__container {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  gap: 12px 8px;
  align-self: stretch;
  flex-wrap: wrap;

  color: var(--color-neutral-100);
}

.chip {
  display: flex;
  padding: var(--size-1, 8px) var(--size-125, 12px);
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  border-radius: 10000px;
  background: var(--color-primary-700, #002d68);
  font: var(--font-Body-B-2);
  color: var(--color-neutral-100);
}

.right__experience {
  display: flex;
  padding: 28px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  flex: 1 0 0;
}

.down__cards {
  display: flex;
  padding: 28px;
  justify-content: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 12px;
  background: var(--color-pink-Alpha-10, rgba(216, 160, 230, 0.1));
}

.card1 {
  display: flex;
  padding: 24px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;

  border-radius: 12px;
  border: 1px solid var(--Degrade, #a533c1);
  background: var(--color-pink-Alpha-10, rgba(216, 160, 230, 0.1));
}

.Button-primary {
  display: flex;
  height: 44px;
  padding: 6.6px 11px;
  justify-content: center;
  align-items: center;

  border-radius: 55px;
  background: var(
    --Degrade,
    linear-gradient(
      123deg,
      #a533c1 29.03%,
      var(--color-primary-300, #348cff) 80.13%
    )
  );
}

.user_logo {
  width: 0px;
  height: 60px;
  object-fit: contain;
}

.text__card1 {
  align-self: stretch;

  color: var(--color-neutral-100, #fff);
  font: var(--font-Body-B-3);
}

.card2 {
  display: flex;
  padding: 24px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;

  border-radius: 12px;
  border: 1px solid var(--Degrade, #a533c1);
  background: var(--color-pink-Alpha-10, rgba(216, 160, 230, 0.1));
}
.Button-primary {
  display: flex;
  height: 44px;
  padding: 6.6px 11px;
  justify-content: center;
  align-items: center;

  border-radius: 55px;
  background: var(
    --Degrade,
    linear-gradient(
      123deg,
      #a533c1 29.03%,
      var(--color-primary-300, #348cff) 80.13%
    )
  );
  .user_logo {
    width: 22px;
    height: 22px;
    object-fit: contain;
  }
}
.text__card2 {
  align-self: stretch;

  color: var(--color-neutral-100, #fff);
  font: var(--font-Body-B-3);
}

.card3 {
  display: flex;
  padding: 24px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;

  border-radius: 12px;
  border: 1px solid var(--Degrade, #a533c1);
  background: var(--color-pink-Alpha-10, rgba(216, 160, 230, 0.1));
}
.Button-primary {
  display: flex;
  height: 44px;
  padding: 6.6px 11px;
  justify-content: center;
  align-items: center;

  border-radius: 55px;
  background: var(
    --Degrade,
    linear-gradient(
      123deg,
      #a533c1 29.03%,
      var(--color-primary-300, #348cff) 80.13%
    )
  );
  .user_logo {
    width: 22px;
    height: 22px;
    object-fit: contain;
  }
}
.text__card3 {
  align-self: stretch;

  color: var(--color-neutral-100, #fff);
  font: var(--font-Body-B-3);
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 12px;
  border: 0.5px solid var(--color-neutral-300, #bec2c4);
}

.chart__header {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: center;

  border-bottom: 0.5px solid var(--color-neutral-100, #fff);
}

.chart__content_goes_here {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}

//////////////////////////// RESPONSIVE ////////////////////////////
///

@media (max-width: 768px) {
  .hero__section {
    display: flex;
    flex-direction: column;
  }

  .hero__container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .experience__content {
    align-self: stretch;
  }

  .container__section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .Down__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .down__cards {
    align-self: stretch;
  }

  .card1 .card2 .card3 {
    align-self: center;
  }

  .text__card1 .text__card2 .text__card3 {
    align-self: center;
  }
}
