@import "../core/variables";
@import "../core/reset";

.footer {
  display: flex;
  flex-direction: row-reverse; // Keep items stacked vertically
  justify-content: right;
  align-items: center;
  font-family: var(--color-neutral-100);
  position: relative;

  min-height: 50px; // Optional: Set a smaller minimum height
  margin: 6%;

  .copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: var(--font-card-text);
    color: var(--color-neutral-100);
    font-size: 0.8rem;
    gap: 0.5rem; // Add spacing between inline elements (e.g., text or icons)
    text-align: center; // Ensure the text is centered
    margin-top: 0.5rem; // Add spacing between multiple rows of text (if needed)
  }

  .additional-text {
    // Example for another row of text
    font-size: 0.8rem;
    font: var(--font-card-text);
    color: var(--color-neutral-100);
    margin-top: 0.5rem; // Add vertical spacing
    margin-bottom: 0.5rem;
  }
}

.logoSponsor {
  height: 10rem;
}
