@use "../core/variables";
@use "../core/reset";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  color: var(--color-neutral-200, #dbe1e7);
  position: relative;

  min-height: 50px; // Optional: Set a smaller minimum height
  margin: 2rem;

  .copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: var(--font-Body-B-5);
    color: var(--color-neutral-200, #dbe1e7);
    gap: 1rem; // Add spacing between inline elements (e.g., text or icons)
    text-align: center; // Ensure the text is centered
  }

  .additional-text {
    // Example for another row of text
    font-size: 0.8rem;
    font: var(--font-Body-B-5);
    color: var(--color-neutral-200, #dbe1e7);
    margin-top: 0.5rem; // Add vertical spacing
    margin-bottom: 0.5rem;
  }
}
