@import "../core/variables";

.header__section {
  display: flex;
  justify-content: space-between; /* Ensures space between logo, menu, and button */
  align-items: center;
  padding: 16px var(--size-8, 64px);
  width: 100%;
  background: var(--Colors-Primary-800, #001735);
  color: var(--color-neutral-100);
  font: var(--font-Body-B-2);

  @media (max-width: 680px) {
    padding: 16px var(--size-4, 32px);
    font: var(--font-Body-B-3);
  }
}

.logo__box {
  display: flex;
  flex: 0; /*prevents the logo from stretching*/
  margin-right: auto; /*Alig logo to the left*/
}

.logoSponsor {
  display: flex;
  width: 100px;
  gap: 5.016px;
}

.header {
  display: flex;

  justify-content: center;
  align-items: flex-start;
  transition: background-color 0.3s ease; /* Smooth transition for background change */
  top: 0;
  width: 100%;
  z-index: 100; /* Ensures it layers above content like cards */
}

.menu__box {
  display: flex; /* Allows the menu to occupy the center space */
  flex: 1;

  align-items: center;
  justify-content: center;
}

.menu__list {
  display: flex;
  justify-content: space-between; /* Evenly distribute menu items */
  align-items: center;
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  gap: 2rem; /* Add spacing between menu items */
}

.menu__item {
  cursor: pointer;
  font: var(--font-Body-B-2);
}

.menu__item:hover {
  color: rgb(255, 196, 0); /* Optional: Add color change on hover */
  text-decoration: underline;
}

.menu__item:active {
  color: rgb(255, 196, 0);
  color: rgba(134, 133, 137, 0.846);
}

.menu__link {
  text-decoration: none;
  list-style: none;
  color: inherit;
  line-height: 1.25rem;

  font: var(--font-normal);
  font-size: 1rem;

  @media (max-width: 680px) {
    font: var(--font-normal);
    font-size: 0.8rem;
  }
}

.btn__box {
  display: flex;
  justify-content: flex-end; /* Align the button to the far right */
  align-items: center;
}

.contact__btn {
  padding: 0.5rem 3.5rem;
  background-color: #ecf3f52a;
  color: var(--color-neutral-100);
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ffffff33; /* Slightly brighter hover effect */
  }
}
