.home__section {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-right: 32px;
  padding-left: 32px;

  align-items: center;
  align-content: center;
  gap: 44px;
  align-self: stretch;
  flex-wrap: wrap;

  border-radius: 24px;
  background: rgba(216, 160, 230, 0.1);
}

.home__content {
  color: var(--color-neutral-100, #fff);
  font: var(--font-headings-H-3);
  line-height: normal;
}
.home__box {
  display: flex;
  max-width: 702px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.home__picture {
  width: 368px;
  height: 368px;
  background: url("../../images/me.jpg") 50% / cover no-repeat;

  flex-shrink: 0;
}

.home__title {
  color: var(--colors-neutral-100, #fff);
  font: var(--font-headings-H-1);
  margin-bottom: 1rem;
}

.btn__home__box {
  display: inline-flex;
  flex-direction: row;
  font-style: normal;

  @media (max-width: 680px) {
  }
}

.home__btn {
  display: flex;
  min-width: 120px;
  padding: var(--size-125, 12px) var(--size-25, 20px);
  justify-content: center;
  align-items: center;

  border-radius: var(--components-button-border-radius, 24px);
  border: var(--components-button-border-width, 2px) solid
    var(--color-light-blue-100, #b7def5);

  @media (max-width: 680px) {
    font: var();
  }
}

.linkedin__btn {
  color: var(--color-light-blue-200, #6fbeeb);
  text-align: center;
  font: var(--font-Body-B-2);
}

.prh__text {
  color: var(--color-neutral-100);
  font: var(--font-Body-B-2);

  @media (max-width: 680px) {
    color: var(--color-neutral-100);
    font: var(--font-Body-B-3);
  }
}
