.home__section {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
  gap: 44px;
  align-items: flex-start;
  align-self: stretch;

  border-radius: 24px;
  background: rgba(216, 160, 230, 0.1);
}

.home__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;
  max-width: 702px;
  height: 100%;
  gap: 24px;
}

.home__content {
  color: var(--color-neutral-100, #fff);
  font: var(--font-headings-H-3);
}

.btn__home__box {
  align-self: flex-end; /* Aligns the button to the right */
  margin-top: auto; /* Pushes the button to the bottom if the parent has a height */
}

.home__btn {
  display: flex;
  height: 35px;
  width: 120px;
  align-items: center;
  justify-content: center;
  border-radius: var(--components-button-border-radius, 24px);
  border: var(--components-button-border-width, 2px) solid
    var(--color-light-blue-100, #b7def5);

  @media (max-width: 680px) {
    font: var(--font-Body-B-2);
    bottom: 30px; /* Adjust for smaller screens */
    right: 100px;
  }

  &:hover {
    border-radius: var(--components-button-border-radius, 24px);
    border: var(--components-button-border-width, 2px) solid
      var(--Colors-LightBlue-600, #105074); /* Optional: Hover effect */
  }

  &:active {
    border-radius: var(--components-button-border-radius, 24px);
    border: var(--components-button-border-width, 2px) solid
      var(--Colors-LightBlue-600, #105074);
    background: var(--Colors-Primary-100, #99c6ff);
  }

  &:disabled {
    border-radius: var(--components-button-border-radius, 24px);
    border: var(--components-button-border-width, 2px) solid
      var(--Colors-Neutral-600, #59616e);
    background: rgba(255, 255, 255, 0);
  }
}

.linkedin__btn {
  color: var(--color-light-blue-200, #6fbeeb);
  font: var(--font-Body-B-2);
  text-decoration: none; /*remove underlines*/
}

.linkedin__btn:hover {
  text-decoration: underline; /* Optional: Adds underline on hover for better UX */
}

.home__picture {
  width: 368px;
  height: 368px;
  background: url("../../images/me.jpg") 50% / cover no-repeat;
  border: none;
  flex-shrink: 0;
}

.home__title {
  display: flex;
  margin-top: 3rem;
  color: var(--colors-neutral-100, #fff);
  font: var(--font-headings-H-1);
  margin-bottom: 1rem;
}
.prh__text {
  color: var(--color-neutral-100);
  font: var(--font-Body-B-2);

  @media (max-width: 680px) {
    color: var(--color-neutral-100);
    font: var(--font-Body-B-3);
  }
}
