.preview {
  display: flex;
  flex-direction: column;
  align-items: center; // Center the entire content horizontally
  padding: 2rem; // add margin to the preview
  margin: 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center; // Center the entire content horizontally
  justify-content: center;
  position: relative;

  max-width: 1000px; // Optional: limit the row width
  align-items: center; // Center the card and image vertically
  margin-bottom: 2rem;
}

.projectImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px; /* Adjust height as needed */
  background-color: #f0f0f0; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Hide overflow content */
  list-style: none;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 300px; /* Adjust height as needed */
  }
}

.projectImage__img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.project .card {
  transform: translateY(-35px);
}

.card {
  display: grid;
  grid-template-columns: 250px 500px;
  justify-content: center;
  align-items: center;

  color: var(--color-neutral-100);
  font: var(--font-Body-B-3);

  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: solid pink;
  border-width: 2px;
  border-image-source: linear-gradient(
    to bottom,
    var(--color-neutral-100) 0%,
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;

  background-origin: border-box;
  background-clip: content-box, border-box;

  padding: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card__project {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.card .card__projectTitle {
  grid-column: 2;
  position: relative;
  margin: 15px 10px 0 0;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;

  font: var(---font-headings-H-4);
}

.card .card__projectTitle::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  bottom: calc(50% - 1px);
  left: 0;
  right: 0;
  z-index: 0;

  background-image: linear-gradient(
    to right,
    white,
    #232323 15%,
    var(--color-black),
    #232323 85%,
    white
  );
}

.card .card__projectTitle--text {
  position: relative;
  padding-inline: 0.1em;
  z-index: 1;
  color: var(--color-neutral-100);
}

.card .card__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}

.card .card__authorPhoto {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  max-width: 100%;

  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;

  list-style: none;
}

.card .card__job {
  margin-bottom: 0.2rem;
  margin-inline: 0.2rem;

  text-align: center;
}

.card .card__name {
  font: var(--font-headings-H-3);
  text-align: center;
  justify-content: center;
}

.card .card__projectName {
  font: var(--font-headings-H-2);
  text-align: left;
  margin-bottom: -0.5rem;
}

.card .card__project .card__wrap {
  display: flex;
  flex-wrap: wrap;

  margin-right: 10px;
  margin-left: 2px;
}

.card .card__slogan {
  font: var(--font-headings-H-3);
  font-size: 1rem;
  font-style: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card .card__descriptionTitle {
  font-weight: inherit;
  text-transform: capitalize;
}

.card .card__description {
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}

.card .card__technicalInfo {
  display: flex;

  justify-content: space-between;
  gap: 1em;
  align-items: center;
  margin-bottom: 1rem;
}

.card .card__technologies {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  align-items: start;
  gap: 1rem;

  .tech__icon {
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    background-size: cover;

    &.icon__javascript {
      background-image: url("/images/icons/javascript.svg");
    }
    &.icon__react {
      background-image: url("/images/icons/react.svg");
    }
    &.icon__nodejs {
      background-image: url("/images/icons/nodejs.svg");
    }
    &.icon__express {
      background-image: url("/images/icons/Express.js_light.svg");
    }
    &.icon__html {
      background-image: url("/images/icons/html5.svg");
    }
    &.icon__css {
      background-image: url("/images/icons/css.svg");
    }
  }
}

/* COMPONENTS */

.title {
  text-align: center;
  text-transform: capitalize;
}

/* ICONS */

.card__footer {
  display: flex;
  justify-content: flex-start;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 var(--color-neutral-100);
  background-color: var(--color-neutral-100);

  display: flex;
  flex-direction: row;
  background-size: cover;
  gap: 1.5rem; // Add spacing between the footer icons
}

.icon__link {
  width: 1.6rem;
  height: 1.6rem;

  background-size: cover;
}

.icon__www {
  background-image: url("/images/icons/globe-solid.svg");
}

.icon__github {
  background-image: url("/images/icons/github.svg");
}
