.preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__image {
    flex: 1;
    max-width: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__card {
    flex: 1;
    max-width: 50%;
    padding: 1rem;
  }
}

.projectImage {
  border: 1px solid #ccc;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
