.section02 {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  gap: 24px;
}

.skills__main__section {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  width: 100%;
}

.skills__section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
  align-self: stretch;

  list-style-type: none; /* Removes the bullets */
}

.skills__title {
  /* Global Tokens/Headings/H-1 */
  align-self: stretch;

  color: var(--color-neutral-100, #f9fafb);
  font: var(--font-headings-H-1);
}

.skills__subtitle {
  /* Global Tokens/Headings/H-2 */
  display: flex;
  justify-content: center;
  align-self: flex-start;

  color: var(--color-neutral-100, #f9fafb);
  font: var(--font-headings-H-2);
}

.skills__section__card {
  display: flex;
  padding: 24px;

  /* Global Tokens/Headings/H-2 */
  color: var(--color-neutral-100, #f9fafb);
  font: var(--font-headings-H-2);

  border-radius: 16px;
  border: 1px solid var(--color-primary-600, #00439b);
}

.skills__article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  color: var(--color-neutral-100, #f9fafb);
}

.skills__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  gap: 24px;

  color: var(--color-neutral-100, #f9fafb);
  font: var(--font-Body-B-2);
}

.skills {
  font: var(--font-headings-H-2);
  color: var(--color-neutral-100, #f9fafb);
}

.skills__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  list-style-type: none; /* Removes the bullets */
}

.skills__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.skill__name {
  width: 250px;
  min-width: 196px;

  color: #fff;
  font: var(--font-Body-B-2);
}

.skill__bar {
  flex: 2; /* Allow the bar to take up more space */
  height: 10px; /* Height of the skill bar */
  background-color: #e0e0e0; /* Light background for the bar */
  border-radius: 5px; /* Rounded corners */
  overflow: hidden; /* Hide overflow content */
  margin-left: 16px; /* Space between skill name and bar */
  position: relative;

  height: 8px;
  flex: 1 0 0;
}

.skill__level {
  height: 100%; /* Full height of the bar */
  border-radius: 5px; /* Rounded corners */
  transition: width 0.3s ease-in-out; /* Smooth transition for width change */
}

/* Specific skill levels */
.skill__level--advanced {
  width: 100%; /* Full width for advanced skills */
  border-radius: 100px;
  background: var(--color-pink-500, #a533c1);
}

.skill__level--intermediate {
  width: 66%; /* Two-thirds width for medium skills */
  background: var(--color-pink-500, #a533c1);
}

.skill__level--beginner {
  width: 33%; /* One-third width for low skills */
  background: var(--color-pink-500, #a533c1);
}

//TECHNICAL SKILLS STYLES
.title-icon {
  background: url("../../images/icons/flame_image.svg") transparent 50% / cover
    no-repeat;
  margin-right: 1rem;

  width: 88px;
  height: 88px;

  border: none; /* Ensure there is no border */
  padding: 0; /* Ensure there is no padding */
  box-shadow: none; /* Remove any box shadow that might look like a border */
}

.tech__skills__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  color: var(--color-neutral-100, #f9fafb);
  font: var(--font-headings-H-2);
}

.skills__chips__container {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Creates a grid with 4 equal columns */
  gap: 8px; /* Space between the chips */
  align-self: stretch;
}

.skill__chip {
  display: flex;
  padding: var(--size-1, 8px) var(--size-125, 12px);
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10000px;
  background: var(--color-primary-700, #002d68);
  list-style-type: none; /* Removes the bullets */
}

//ACHIEVEMENTS STYLES
.achievements__card {
  display: flex;
  padding: 16px;
  align-items: start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: var(--Spacing-m, 16px);
  background: var(--color-pink-alpha-10, rgba(216, 160, 230, 0.1));
}

.achievement__item {
  display: grid;
  grid-template-columns: 1fr 3fr;

  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.achievement__graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.institution__mame {
  width: 250px;
  min-width: 196px;
}

.achievement__img {
  width: 108px;
  height: 94px;
  background-image: url("../../images/jean_avatar.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;

  padding: 0; /* Ensure there is no padding */
  box-shadow: none; /* Remove any box shadow that might look like a border */
}

.achievement__metric {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;

  color: var(--color-green-200, #1fc16b);
  /* Global Tokens/Headings/H-3 */
  font: var(--font-headings-H-3);
}

.achievement__item {
  list-style-type: none; /* Removes the bullets */
}

.achievement__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;

  color: var(--color-neutral-100, #fff);
  text-overflow: ellipsis;

  /* Global Tokens/Body/B-2 */
  font: var(--font-Body-B-2);
}
