@import "../core/_variables.scss";
@import "../core/_reset.scss";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-card-tech);
  color: var(--color-white);
  position: relative;

  min-height: 50px; // Optional: Set a smaller minimum height
}

.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-card-tech);
  color: var(--color-white);
}
