header {
  ul li {
    color: #f5f5f5;
  }
}

.header {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.header__ul {
  display: flex;
  list-style: none;
}

.header__li {
  margin: 1rem;
  cursor: pointer;
}

.header__li:hover {
  color: rgb(255, 196, 0); /* Optional: Add underline on hover */
}
