.home__section {
  font-family: Onest Variable, system-ui, sans-serif;
  color: rgba(245, 245, 245, 0.799);
  padding: 5%;
}

.home__content {
  align-content: center;
  justify-content: center;
  font-style: normal;
  font-size: 16px;
}
.home__box {
  display: inline-flex;
  flex-direction: row;
  padding-right: 2rem;
  align-items: center;
  gap: 1rem;
  font-style: normal;
  font-size: 14px;

  margin-top: 3rem;
  margin-bottom: 2rem;
}

.home__picture {
  display: block;
  margin: 1rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  max-width: 100%;
}

.first__home__btn {
  display: inline-flex; /* Use inline-flex to align items correctly within buttons/links */
  padding: 0.5rem 3.5rem; /* Adjust padding as needed */
  background-color: #ecf3f52a; /* Example background color */
  color: white; /* Text color */
  border: none; /* Remove default border for button */
  border-radius: 0.7rem; /* Rounded corners (optional) */
  cursor: pointer; /* Pointer cursor on hover */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  font-size: 14px;
}

.home__title {
  font-size: 32px;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn__home__box {
  display: inline-flex;
  flex-direction: row;
  font-style: normal;
  font-size: 14px;
}

.home__btn {
  display: inline-flex; /* Use inline-flex to align items correctly within buttons/links */
  gap: 1rem;
}

.contact__btn {
  display: inline-flex; /* Use inline-flex to align items correctly within buttons/links */
  padding: 0.5rem 3.5rem; /* Adjust padding as needed */
  background-color: #ecf3f52a; /* Example background color */
  color: white; /* Text color */
  border: none; /* Remove default border for button */
  border-radius: 0.7rem; /* Rounded corners (optional) */
  cursor: pointer; /* Pointer cursor on hover */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  margin-top: 1rem;
  font-size: 14px;
}

.linkedin__btn {
  display: inline-flex; /* Use inline-flex to align items correctly within buttons/links */
  padding: 0.5rem 3.5rem; /* Adjust padding as needed */
  background-color: #ecf3f52a; /* Example background color */
  color: white; /* Text color */
  border: none; /* Remove default border for button */
  border-radius: 0.7rem; /* Rounded corners (optional) */
  cursor: pointer; /* Pointer cursor on hover */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  margin-top: 1rem;
}

.prh__text {
  line-height: 1.5rem;
  font-size: 16px;

  margin-top: 2rem;
  margin-bottom: 3rem;
}
