.home__box {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 2rem;
  margin-right: 1rem;
}

.home__picture {
  display: flex;
  padding-top: 2rem;
  height: 10rem;
  width: 10rem;
  border-radius: 90%;
}

.first__home__btn {
  display: inline-flex; /* Use inline-flex to align items correctly within buttons/links */
  padding: 0.5rem 3.5rem; /* Adjust padding as needed */
  background-color: #ecf3f52a; /* Example background color */
  color: white; /* Text color */
  border: none; /* Remove default border for button */
  border-radius: 0.7rem; /* Rounded corners (optional) */
  cursor: pointer; /* Pointer cursor on hover */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  margin-top: 1rem;
}

.btn__home__box {
  display: inline-flex;
  flex-direction: row;
}

.home__btn {
  display: inline-flex; /* Use inline-flex to align items correctly within buttons/links */
}

.contact__btn {
  display: inline-flex; /* Use inline-flex to align items correctly within buttons/links */
  padding: 0.5rem 3.5rem; /* Adjust padding as needed */
  background-color: #ecf3f52a; /* Example background color */
  color: white; /* Text color */
  border: none; /* Remove default border for button */
  border-radius: 0.7rem; /* Rounded corners (optional) */
  cursor: pointer; /* Pointer cursor on hover */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  margin-top: 1rem;
}

.linkedin__btn {
  display: inline-flex; /* Use inline-flex to align items correctly within buttons/links */
  padding: 0.5rem 3.5rem; /* Adjust padding as needed */
  background-color: #ecf3f52a; /* Example background color */
  color: white; /* Text color */
  border: none; /* Remove default border for button */
  border-radius: 0.7rem; /* Rounded corners (optional) */
  cursor: pointer; /* Pointer cursor on hover */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  margin-top: 1rem;
}
