//aqui debe ir los archivos sass IMPORT

//fonts
$color__title: white;

body {
  background-color: rgb(3, 3, 33);
  h1 {
    color: $color__title;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 3%;
  color: white;
  margin-bottom: 5rem;
}

.header__title {
  color: white;
  font-size: 2rem;
}

.main__picture {
  width: 120px;
  height: 100px;
}
