//aqui debe ir los archivos sass IMPORT

//fonts
$color__title: white;

.darkmode {
  background-color: rgb(6, 6, 49);
  h1 {
    color: $color__title;
  }
}

body.light {
  background-color: #f5f5f5;

  .header__li {
    color: #333;

    &:hover {
      color: rgb(255, 196, 0); // Change text color on hover
    }
  }
}

body.dark {
  background-color: rgb(6, 6, 49); // Dark background color

  .header__li {
    color: #ddd; // Light text color for dark mode

    &:hover {
      color: rgb(255, 196, 0); // Change text color on hover
    }
  }
}
