//aqui debe ir los archivos sass IMPORT

//fonts
$color__title: white;

body {
  background-color: rgb(3, 3, 33);
  h1 {
    color: $color__title;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 3%;
  color: white;
  margin-bottom: 5rem;
}

.header {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.menu__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu__item {
  display: flex;
  margin: 1rem;
  list-style: none;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

.menu__item:hover {
  color: rgb(255, 196, 0); /* Optional: Add underline on hover */
}
